body {
    background-color: gray;
    padding: 10px;
}

div {

   
    background-color: aqua;
    border-color: black;
    border-style: dotted;
}

div.chicoazul {
    height: 100px;
    margin: 10px;
}

div.grandeazul {
    height: 150px;
    margin: 10px;
}

div.container>div {
    height: 150px;
    width: 50%;
    
    }


div.container.medianoazulmargin-derecho {
    float: right;
    background-color: antiquewhite;
    
}

div.container.medianoazul {
    float: left;
    width: 40px;
}

