body {
    background-color: gray;
}

div {

    margin: 10px;
    background-color: aqua;
    display: flex;

}

div.chicoazul {
    height: 100px;
}

div.grandeazul {
    height: 150px;
}

div.container>div {
    height: 150px;
    width: 50%;
    padding: 10px;
    margin: 10px;

}



/*
div.container.medianoazulmargin-derecho {

    width: 50%;
    padding: 10px;
    margin-right: 20px;
}

div.container.medianoazul {
    width: 50%;
    padding: 10px;
    margin-right: 20px;
}

*/