
  .container {
    height: 100%;
    display: grid;
    width: 960px;
    padding: 10px;
    grid-template-columns: 30% 5% 10% 5% 20% 20% 20%;
    grid-template-rows: 100px 100px 100px 25px 50px 25px 100px 100px 100px;

}
.red
{
background-color: red;


}
.white
{
background-color: white;
}
.blue
{
background-color: rgb(4, 4, 136);
}

