*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Times New Roman';
	

}

.container
{
display: flex;
padding: 0 20%;

}

aside
{
	width: 30%;
	
	background-color: rgb(18, 73, 55);
	padding: 5%;
color: antiquewhite;
}

main
{
	width: 70%;
	
	background-color: rgb(141, 36, 36);

}

.imagen img
{
border-radius: 50%;
width: 100%;
box-shadow: 0 0 10px white;
margin-bottom: 20px;
}

.flex-container
{
	display: flex;
}

.margin-title
{
	margin: 30px 0;
}
.material-symbols-outlined
{
	margin-right: 5px;
	
}
.contacto div
{
margin-bottom: 10px;

}

.habilidades span
{
	margin-right:  10px;
}
.margin-icon
{
	margin-right:  10px;
}



/*https://fonts.google.com/icons?selected=Material+Symbols+Outlined:travel_explore:FILL@0;wght@400;GRAD@0;opsz@48&icon.query=web
*/