*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Times New Roman';
	

}

.container
{
display: flex;
padding: 0 20%;

}

aside
{
	width: 30%;
	
	background-color: rgb(18, 73, 55);
	padding: 5%;
color: antiquewhite;
}

.imagen img
{
border-radius: 50%;
width: 100%;
box-shadow: 0 0 10px white;
margin-bottom: 20px;
}

.flex-container
{
	display: flex;
}

.material-symbols-outlined
{
	margin-right: 5px;
	
}
.contacto div
{
margin-bottom: 10px;

}
.habilidades div
{
margin-bottom: 10px;

}
.certificaciones div
{
margin-bottom: 10px;

}
.title-h
{
	margin-bottom:  10px;
}

.habilidades span
{
	margin-right:  10px;
	margin-bottom:  10px;
}
.margin-icon
{
	margin-right:  10px;
}
.margin-title
{
	margin: 50px 0 20px 0;
}

.certificaciones span
{
	margin-right:  10px;
	margin-bottom:  10px;
}

.redes a
{
	color: antiquewhite;
}


/*https://fonts.google.com/icons?selected=Material+Symbols+Outlined:travel_explore:FILL@0;wght@400;GRAD@0;opsz@48&icon.query=web
*/

/*BLOQUE DERECHO */
main
{
	width: 70%;
	
	background-color: rgb(231, 220, 220);
		padding: 5%;
}
h1
{

font-size: 50px;
color: rgb(30, 34, 77);

}
hr
{
width: 40%;
background-color: darkgreen;
border-style: none;
height: 2px;
margin: 2% 0px;

}

h2, section h3
{
	
font-size: 20px;
color: rgb(64, 76, 206);

}
.date
{
	color: rgb(58, 58, 53);
	font-weight: bold;
}
h4
{
	margin-bottom: 1%;
}
ul
{
	margin-left: 5%;
}